body {
    font-family: 'Lato', sans-serif;
}
.wrapper {
    width: 1020px;
}
.header {
    height: 90px;
    background-color: #2d303a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}
.logo {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    color: white;
}
.logo__decoration {
    color: #f06c64;
}
.navigation {
    display: flex;
    margin-top: 5px;
}
.navigation__link {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    color: white;
}
.navigation__link_active {
    color: #f06c64;
}
.navigation__separator {
    margin: 0 12px;
    color: #494e62;
}
.separator-line {
    height: 5px;
}
.separator-line_color_gray {
    background-color: #323746;
}
.slider {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 594px;
    padding: 0 40px;
    padding-bottom: 5px;
    box-sizing: border-box;
    background-color: #f06c64;
}
.slider__left:hover {
    cursor: pointer;
}
.slider__right:hover {
    cursor: pointer;
}
.slider__phone-vertical {
    position: absolute;
    top: 53px;
    left: 112px;
}
.slider__phone-horizontal {
    position: absolute;
    left: 425px;
    top: 174px;
}
.separator-line_color_pink {
    background-color: #ea676b;
}
.services {
    height: 495px;
    background-color: #f2f2f2;
    color: #666d89;
    padding: 0 40px;
}
.services__title {
    padding-top: 62px;
    font-size: 30px;
    font-weight: 900;
}
.services__text {
    margin-top: 22px;
    font-size: 18px;
    font-weight: 200;
    line-height: 1.7;
    word-spacing: 1.1px;
}
.layout-3-column {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
    margin-top: 46px;
}
.layout-item {
    display: flex;
    width: calc(33.33333333% - 20px);
    margin: 0 10px;
    margin-bottom: 35px;
}
.layout-item__img {
    margin-right: 21px;
}
.layout-item__title {
    font-size: 18px;
    font-weight: 900;
    margin-bottom: 10px;
    margin-top: -2px;
}
.layout-item__subtitle {
    font-size: 12px;
    line-height: 1.8;
}
.separator-line_color_white {
    background-color: white;
}