body {
    font-family: 'Lato', sans-serif;
}
.wrapper {
    width: 1020px;
}
.header {
    height: 90px;
    background-color: #2d303a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}
.logo {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    color: white;
}
.logo__decoration {
    color: #f06c64;
}
.navigation {
    display: flex;
    margin-top: 5px;
}
.navigation__link {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    color: white;
}
.navigation__link_active {
    color: #f06c64;
}
.navigation__separator {
    margin: 0 12px;
    color: #494e62;
}
.separator-line {
    height: 5px;
}
.separator-line_color_gray {
    background-color: #323746;
}