@font-face {
	font-family: 'Lato';
	src: url('assets/fonts/Lato-Black.eot');
	src: local('☺'), url('assets/fonts/Lato-Black.woff') format('woff'), url('assets/fonts/Lato-Black.ttf') format('truetype'), url('assets/fonts/Lato-Black.svg') format('svg');
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: 'Lato';
	src: url('assets/fonts/Lato-Bold.eot');
	src: local('☺'), url('assets/fonts/Lato-Bold.woff') format('woff'), url('assets/fonts/Lato-Bold.ttf') format('truetype'), url('assets/fonts/Lato-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Lato';
	src: url('assets/fonts/Lato-Light.eot');
	src: local('☺'), url('assets/fonts/Lato-Light.woff') format('woff'), url('assets/fonts/Lato-Light.ttf') format('truetype'), url('assets/fonts/Lato-Light.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Lato';
	src: url('assets/fonts/Lato-Regular.eot');
	src: local('☺'), url('assets/fonts/Lato-Regular.woff') format('woff'), url('assets/fonts/Lato-Regular.ttf') format('truetype'), url('assets/fonts/Lato-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

/* reset-css */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} 
/* reset-css */

body {
    font-family: 'Lato', sans-serif;
}
.wrapper {
    width: 1020px;;
}
.portfolio {
    height: 864px;
    background-color: #2d303a;
    color: #666d89;
    padding: 0 40px;
}
.header-section {
    
}
.portfolio__header-section {
    padding-top: 63px;
}
.title-section {
    font-size: 30px;
    font-weight: 900;
}
.header-section__text {
    padding-top: 20px;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.7;
}
.tag-list {
    display: flex;
    font-size: 12px;
}
.porfolio__tag {
    margin-top: 12px;
}
.tag-list__item {
    margin-right: 10px;
    box-sizing: border-box;
    border: 1px solid #666d89;
    padding: 4px 6.2px;
    border-radius: 5px;
}
.tag-list__item:hover {
    cursor: pointer;
    background-color: rgb(240, 232, 0);
}
.tag-list-item_active {
    color: white;
    border-color: white;
}
.gallery {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 187px 187px 187px;
	grid-auto-rows: 0px;
	overflow: hidden;
}
.portfolio__gallery {
	margin-top: 20px;
}
.gallery_item {
    margin-top: -1px;
}
.gallery_item:nth-child(1n+13) {
	margin-top: 1px;
}
.separator {
    height: 6px;
}
.separator_gray {
    background-color: #323746;
}
.about {
    padding: 0 40px;
    color: #666d89;
    background-color: #f2f2f2;
}
.workers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}
.about__workers {
    margin-top: 45px;
}
.workers__workers-card {
    margin-bottom: 65px;
}
.workers-card__title {
    margin-top: 15px;
    font-size: 18px;
    font-weight: 900;
}
.workers-card__text {
    margin-top: 12px;
    font-size: 12px;
    line-height: 1.7;
}
.workers-card__icon {
    margin-top: 24px;
    margin-right: 5px;
}
.workers-card:nth-child(2) .workers-card__photo {
    margin-left: -1px;
}
.separator_white {
    background-color: white;
}