@font-face {
	font-family: 'Lato';
	src: url('assets/fonts/Lato-Black.eot');
	src: local('☺'), url('assets/fonts/Lato-Black.woff') format('woff'), url('assets/fonts/Lato-Black.ttf') format('truetype'), url('assets/fonts/Lato-Black.svg') format('svg');
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: 'Lato';
	src: url('assets/fonts/Lato-Bold.eot');
	src: local('☺'), url('assets/fonts/Lato-Bold.woff') format('woff'), url('assets/fonts/Lato-Bold.ttf') format('truetype'), url('assets/fonts/Lato-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Lato';
	src: url('assets/fonts/Lato-Light.eot');
	src: local('☺'), url('assets/fonts/Lato-Light.woff') format('woff'), url('assets/fonts/Lato-Light.ttf') format('truetype'), url('assets/fonts/Lato-Light.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Lato';
	src: url('assets/fonts/Lato-Regular.eot');
	src: local('☺'), url('assets/fonts/Lato-Regular.woff') format('woff'), url('assets/fonts/Lato-Regular.ttf') format('truetype'), url('assets/fonts/Lato-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

/*---------- reset-css ----------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} 
/*---------- reset-css ----------*/

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }
body {
    font-family: 'Lato', sans-serif;
}
.wrapper {
    width: 1020px;
}

/*---------- Independent section block bem PAGE-SECTION ----------*/
.page-section {
    padding: 62px 40px;
}
.title-section {
    font-size: 30px;
    font-weight: 900;
}
.text-section {
    font-size: 18px;
    font-weight: 200;
    line-height: 1.7;
    word-spacing: 1.1px;
}
/* mixin text-section in page-section */
.page-section__text-section {
    margin-top: 20px;
}
/* mixin text-section in page-section */

/*- Modificator pege-section -*/

/* background-color */
.page-section_bg_light-grey {
    background-color: #f2f2f2;
}
.page-section_bg_grey {
    background-color: #2e303c;
}
.page-section_bg_pink {
    background-color: #f06c64;
}
/* background-color */

/* text-color */
.page-section_color_grey {
    color: #666d89;
}
.page-section_color_pink {
    color: #f0d8d9;
}
/* text-color */

/* margin-bottom section */
.page-section_mb_m {
    padding-bottom: 67px;
}
.page-section_mb_s {
    padding-bottom: 65px;
}
.page-section_mb_xs {
    padding-bottom: 18px;
}
/* margin-bottom section */

/*- Modificator pege-section -*/

/*---------- Independent section block bem PAGE-SECTION ----------*/

/*---------- Independent section block bem HEADER ----------*/
.header {
    height: 90px;
    background-color: #2d303a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}
/*----- Independent section block bem LOGO -----*/
.logo {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 25px;
    font-weight: 700;
    color: white;
}
.logo__decoration {
    color: #f06c64;
}
/* mixin logo in header */
.header__logo {
    margin-top: -1px;
}
/* mixin logo in header */

/*----- Independent section block bem LOGO -----*/

/*----- Independent section block bem NAVIGATION -----*/
.navigation {
    display: flex;
    padding-top: 5px;
}
.navigation__link {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    color: white;
}
.navigation__link:hover {
    color: #81cfd9;
    border-bottom: 1px solid #dee02d;
    margin-bottom: -1px;
}
.navigation__link_active {
    color: #f06c64;
}
.navigation__separator {
    margin: 0 12px;
    color: #494e62;
}
/*----- Independent section block bem NAVIGATION -----*/

/*---------- Independent section block bem HEADER ----------*/

/*---------- Independent section block bem SLIDER ----------*/
.slider {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 594px;
    padding: 0 40px;
    padding-bottom: 5px;
    box-sizing: border-box;
    background-color: #f06c64;
}
.slider__left {
    margin-left: 2px;
}
.slider__left:hover {
    cursor: pointer;
}
.slider__right:hover {
    cursor: pointer;
}
.slider__phone-vertical {
    position: absolute;
    top: 53px;
    left: 112px;
}
.slider__phone-horizontal {
    position: absolute;
    left: 425px;
    top: 174px;
}
/*---------- Independent section block bem SLIDER ----------*/

/*---------- Independent section block bem LAYOUT-3-COLUMN ----------*/
.layout-3-column {
    display: flex;
    flex-wrap: wrap;
}
.page-section__layout-3-column {
    padding-top: 48px;
    margin: 0 -10px;
}
.layout-item {
    display: flex;
    width: calc(33.33333333% - 20px);
    padding: 0 10px;
}
.layout-item__layout-3-column {
    margin-bottom: 34px;
}
.layout-item__img {
    margin-right: 21px;
}
.layout-item:nth-child(3n+1) .layout-item__img img {
    margin-left: 1px;
}
.layout-item__title {
    font-size: 18px;
    font-weight: 900;
    margin-bottom: 10px;
    margin-top: -2px;
    margin-left: -1px;
}
.layout-item:nth-child(3n+3) .layout-item__title {
    margin-left: 2px;
}
.layout-item__subtitle {
    font-size: 12px;
    line-height: 1.8;
}
/*---------- Independent section block bem LAYOUT-3-COLUMN ----------*/

/*---------- Independent section block bem TAG-LIST ----------*/
.tag-list {
    display: flex;
    font-size: 12px;
}
/* mixin tag-list in page section */
.page-section__tag-list {
    margin-top: 12px;
}
/* mixin tag-list in page section */
.tag-list__item {
    margin-right: 10px;
    box-sizing: border-box;
    border: 1px solid #666d89;
    padding: 4px 6.2px;
    border-radius: 5px;
}
/* tag-list intaractive element */
.tag-list__item:hover {
    cursor: pointer;
    background-color: rgb(240, 232, 0);
}
.tag-list-item_active {
    color: white;
    border-color: white;
}
/* tag-list intaractive element */

/*---------- Independent section block bem TAG-LIST ----------*/

/*---------- Independent section block bem GALLERY ----------*/
.gallery {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 187px 187px 187px;
	grid-auto-rows: 0px;
	overflow: hidden;
}
/* mixin gallery in page-section */
.page-section__gallery {
	margin-top: 20px;
}
/* mixin gallery in page-section */
.gallery__item {
    margin-top: -1px;
}
.gallery__item:nth-child(1n+13) {
	margin-top: 1px;
}
/*---------- Independent section block bem GALLERY ----------*/

/*---------- Independent section block bem WORKERS ----------*/
.workers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}
/* mixin workers in page-section */
.page-section__workers {
    margin-top: 46px;
}
/* mixin workers in page-section */
.workers-card__title {
    margin-top: 15px;
    margin-left: -1px;
    font-size: 18px;
    font-weight: 900;
}
.workers-card__text {
    margin-top: 12px;
    font-size: 12px;
    line-height: 1.7;
}
.workers-card:nth-child(2) .workers-card__photo {
    margin-left: -1px;
}

/*----- Independent section block bem SOCIAL-ICON -----*/
.social-icon {
    margin-top: 23px;
}
.social-icon-item {
    margin-right: 4px;
}
.social-icon-item:last-child {
    margin-right: 0px;
}
.social-icon-item:hover {
    fill: rgb(240, 232, 0);
}
/*----- Independent section block bem SOCIAL-ICON -----*/

/*---------- Independent section block bem WORKERS ----------*/

/*---------- Independent section block bem FEEDBACK ----------*/
.feedback {
    display: flex;
    padding-top: 44px;
}

/*----- Independent section block bem FORM-QUESTION -----*/
.form-question {
    display: flex;
    flex-wrap: wrap;
    width: 66%;
}
.form-question__input {
    width: 100%;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    padding: 13px 15px;
    background-color: #d6564f;
    color: #f48c8f;
    resize: none;
}
.form-question__input:nth-child(4) {
    height: 201px;
    box-sizing: border-box;
    color: #f48c8f;
    font-size: 12px;
    padding: 11px 14px;
}
/*----- Independent section block bem FORM-QUESTION -----*/

.contact-info {
    width: 34%;
    padding-left: 20px;
    box-sizing: border-box;
}
.contact-info__title {
    font-size: 18px;
    font-weight: 900;
    margin-top: 1px;
}
.contact-info__text {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.8;
    padding-top: 11px;
    margin-left: -1px;
}
.contact {
    padding-top: 28px;
    display: flex;
    flex-direction: column;
}
.contact__item {
    color: #f0d8d9;
    text-decoration: none;
    font-size: 12px;

}
.contact-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 9px;
}
.contact-wrapper:last-child {
    margin-top: 1px;
}
.contact__item {
    align-self: center;
}
.img-wrapper {
    flex-basis: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 9px;
    margin-top: -1px;
}
.contact-wrapper:last-child .img-wrapper img {
    margin-top: 2px;
}

/*----- Independent section block bem BUTTON -----*/
.button {
    background-color: #2d303a;
    color: #f0d8d9;
    border: none;
    border-radius: 5px;
    width: 100%;
    padding: 10px 0;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
}
/*----- Independent section block bem BUTTON -----*/

/*- Validation input style -*/
::placeholder {
    color: #f48c8f;
    font-size: 12px;
}
textarea,
input {
    outline: none;
}
:required {
    box-shadow: inset 0 0 5px 0 rgba(255, 0, 0, 1);
}
:required:focus {
    box-shadow: none;
}
input:valid:not([name=subject]) {
    box-shadow: inset 0 0 5px 0 rgb(0, 162, 24);
}
/*- Validation input style -*/

/*---------- Independent section block bem FEEDBACK ----------*/
.footer-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 76px;
    background-color: #2d303a;
    padding: 0 40px;
}
.footer-main__copyright {
    margin-left: 2px;
}
/* mixin social-icon in footer-main */
.footer-main__social-icon {
    margin-top: 23px;
}
.footer-main__social-icon {
    padding-bottom: 20px;
}
/* mixin social-icon in footer-main */

/*---------- Independent section block bem FEEDBACK ----------*/

/*---------- Independent section block bem SEPARATOR ----------*/

/*- Modificator separator -*/

/* size separator */
.separator_size_5 {
    height: 5px;
}
.separator_size_6 {
    height: 6px;
}
/* size separator */

/* color separator */
.separator_color_gray {
    background-color: #323746;
}
.separator_color_pink {
    background-color: #ea676b;
}
.separator_color_white {
    background-color: white;
}
/* color separator */

/*- Modificator separator -*/

/*---------- Independent section block bem SEPARATOR ----------*/