@font-face {
	font-family: 'Lato';
	src: url('assets/fonts/Lato-Black.eot');
	src: local('☺'), url('assets/fonts/Lato-Black.woff') format('woff'), url('assets/fonts/Lato-Black.ttf') format('truetype'), url('assets/fonts/Lato-Black.svg') format('svg');
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: 'Lato';
	src: url('assets/fonts/Lato-Bold.eot');
	src: local('☺'), url('assets/fonts/Lato-Bold.woff') format('woff'), url('assets/fonts/Lato-Bold.ttf') format('truetype'), url('assets/fonts/Lato-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Lato';
	src: url('assets/fonts/Lato-Light.eot');
	src: local('☺'), url('assets/fonts/Lato-Light.woff') format('woff'), url('assets/fonts/Lato-Light.ttf') format('truetype'), url('assets/fonts/Lato-Light.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Lato';
	src: url('assets/fonts/Lato-Regular.eot');
	src: local('☺'), url('assets/fonts/Lato-Regular.woff') format('woff'), url('assets/fonts/Lato-Regular.ttf') format('truetype'), url('assets/fonts/Lato-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

/*---------- reset-css ----------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} 
/*---------- reset-css ----------*/
.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }
body {
    font-family: 'Lato', sans-serif;
}
.wrapper {
    max-width: 1020px;
    margin: 0 auto;
}

/*---------- Independent section block bem PAGE-SECTION ----------*/
.page-section {
    padding: 62px 40px;
}
.title-section {
    font-size: 30px;
    font-weight: 900;
    letter-spacing: -0.2px;
}
.text-section {
    font-size: 18px;
    font-weight: 200;
    line-height: 1.7;
    word-spacing: 1.1px;
}
/* mixin text-section in page-section */
.page-section__text-section {
    margin-top: 21px;
}
/* mixin text-section in page-section */

/*- Modificator pege-section -*/

/* background-color */
.page-section_bg_light-grey {
    background-color: #f2f2f2;
}
.page-section_bg_grey {
    background-color: #2e303c;
}
.page-section_bg_pink {
    background-color: #f06c64;
}
/* background-color */

/* text-color */
.page-section_color_grey {
    color: #666d89;
}
.page-section_color_pink {
    color: #f0d8d9;
}
/* text-color */

/* margin-bottom section */
.page-section_mb_g {
    padding-bottom: 62px;
}
.page-section_mb_m {
    padding-bottom: 67px;
}
.page-section_mb_s {
    padding-bottom: 65px;
}
.page-section_mb_xs {
    padding-bottom: 14px;
}
@media screen and (min-width: 768px) and (max-width: 1019px) {
    .page-section_mb_g {
        padding: 43px 42px 67px;
    }
    .page-section_mb_m {
        padding-bottom: 65px;
    }
    .page-section_mb_s {
        padding: 55px 40px 66px;
    }
    .page-section_mb_xs {
        padding: 56px 42px 39px;
    }
}
@media screen and (min-width: 375px) and (max-width: 767px) {
    .page-section_mb_g {
        padding: 30px 32px 21px;
    }
    .page-section_mb_m {
        padding: 45px 31px 8px;
    }
    .page-section_mb_s {
        padding: 37px 30px 25px;
    }
    .page-section_mb_xs {
        padding: 47px 30px 28px;
    }
}
@media screen and (max-width: 374px) {
    .page-section_mb_g {
        padding: 30px 32px 21px;
    }
    .page-section_mb_m {
        padding: 45px 31px 8px;
    }
    .page-section_mb_s {
        padding: 37px 30px 25px;
    }
    .page-section_mb_xs {
        padding: 47px 30px 28px;
    }
}
/* margin-bottom section */

/*- Modificator pege-section -*/

/*---------- Independent section block bem PAGE-SECTION ----------*/

/*---------- Independent section block bem HEADER ----------*/
.header {
    position: sticky;
    box-sizing: border-box;
    width: 100%;
    top: 0;
    z-index: 99;
    height: 90px;
    background-color: #2d303a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}
/*----- Independent section block bem LOGO -----*/
.logo {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 25px;
    font-weight: 700;
    color: white;
    letter-spacing: -0.5px;
    flex-grow: 1;
}
.logo__decoration {
    color: #f06c64;
}
/* mixin logo in header */
.header__logo {
    margin-top: -1px;
}
/* mixin logo in header */

/*----- Independent section block bem LOGO -----*/

/*----- Independent section block bem NAVIGATION -----*/
.navigation {
    display: flex;
    padding-top: 5px;
}
.navigation__link {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    color: white;
}
.navigation__link:hover {
    color: #81cfd9;
    border-bottom: 1px solid #dee02d;
    margin-bottom: -1px;
}
.navigation__link_active {
    color: #f06c64;
}
.navigation__separator {
    margin: 0 12px;
    color: #494e62;
}
.burger {
    flex-grow: 0;
}
.transform-0 {
    transform: rotate(0deg);
    transition: transform 0.5s;
}
.transform {
    transform: rotate(90deg);
    transition: transform 0.5s;
}
.transform-logo-0 {
    transform: translate(0, 0);
    transition: transform 0.5s;
}
.transform-logo {
    transform: translate(-27.5vw, -5px);
    transition: transform 0.5s;
}
.modal-window-nav {
    display: none;
}

.transform-slider {
    transform: translate(-100%, 0);
    transition: transform 1s;
}

/*----- Independent section block bem NAVIGATION -----*/
@media screen and (min-width: 768px) and (max-width: 1019px) {
    .navigation {
        padding-top: 0;
    }
    .modal-window-nav {
        display: none;
    }
}
@media screen and (min-width: 375px) and (max-width: 767px) {
    .header {
        flex-grow: 1;
        justify-content: space-between;
    }
    .logo {
        flex-grow: 1;
        padding-top: 9px;
        margin-left: 5px;
        font-size: 19.68px;
        z-index: 2;
    }
    .logo > div {
        display: flex;
        justify-content: center;
    }
    .header {
        height: 65px;
    }
    .navigation {
        display: none;
    }
    .modal-window-nav {
        width: 80vw;
        height: 100vh;
        position: absolute;
        left: 0;
        top: 0;
        /* top: 0;
        bottom: 0;
        right: 0;
        left: 0; */
        background-color: #2D303A;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        transition: 0.5s;
        display: block;
        z-index: 1;
    }
    .modal-window-nav__nav {
        margin-top: 25vh;
        margin-left: 17vw;
        color: white;
    }
    .modal-window-nav__item {
        font-size: 24px;
        letter-spacing: -0.035em;
        text-transform: uppercase;
        margin-bottom: 27px;
    }
    .burger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 25px;
        height: 20px;
        padding-top: 7px;
        margin-left: -20px;
        z-index: 2;
    }
    .burger {
        cursor: pointer;
    }
    
    .burger > div {
        width: 25px;
        height: 2.4px;
        background-color: white;
        z-index: 0;
    }
}
@media screen and (max-width: 374px) {
    .header {
        flex-grow: 1;
        justify-content: space-between;
    }
    .logo {
        flex-grow: 1;
        padding-top: 9px;
        margin-left: 5px;
        font-size: 19.68px;
        z-index: 2;
    }
    .logo > div {
        display: flex;
        justify-content: center;
    }
    .header {
        height: 65px;
    }
    .navigation {
        display: none;
    }
    .modal-window-nav {
        width: 80vw;
        height: 100vh;
        position: absolute;
        left: 0;
        top: 0;
        /* top: 0;
        bottom: 0;
        right: 0;
        left: 0; */
        background-color: #2D303A;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        transition: 0.5s;
        display: block;
        z-index: 1;
    }
    .modal-window-nav__nav {
        margin-top: 25vh;
        margin-left: 17vw;
        color: white;
    }
    .modal-window-nav__item {
        font-size: 24px;
        letter-spacing: -0.035em;
        text-transform: uppercase;
        margin-bottom: 27px;
    }
    .burger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 25px;
        height: 20px;
        padding-top: 7px;
        margin-left: -20px;
        z-index: 2;
    }
    .burger {
        cursor: pointer;
    }
    
    .burger > div {
        width: 25px;
        height: 2.4px;
        background-color: white;
        z-index: 0;
    }
}
/*---------- Independent section block bem HEADER ----------*/

/*---------- Independent section block bem SLIDER ----------*/
.slider {
    display: flex;
    height: 594px;
    justify-content: center;
    overflow: hidden;
    position: relative;
    /* padding: 0 40px; */
    box-sizing: border-box;
    background-color: #f06c64;
}
.slider__photos {
    display: flex;
    flex-grow: 1;
    justify-content: stretch;
    overflow: hidden;
}
.slider_item {
    display: flex;
    /* justify-content: center; */
    width: 100%;
    flex-shrink: 0;
    overflow: hidden;
    /* margin: 0 -40px; */
}
.slider_item img {
    /* width: 100%; */
    position: absolute;
    align-self: center;
    /* padding: 0 40px; */
}
.slider-buttoms {
    position: absolute;
    display: flex;
    height: 594px;
    /* flex-grow: 1; */
    width: calc(100% - 80px);
    padding: 0 40px;
    justify-content: space-between;
    align-items: center;
}
.s-left {
    width: 2%;
}
.s-left:hover {
    cursor: pointer;
}
.s-right {
    width: 2%;
}
.s-right:hover {
    cursor: pointer;
}
.slider__phone-vertical {
    margin-top: -2px;
    margin-left: 112px;
}
.slider__phone-horizontal {
    margin-left: 425px;
    margin-top: -3px;
}
.phone-button-1 {
    position: absolute;
    background-color: black;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    left: 194px;
    top: 457px;
    opacity: 0;
}
.phone-button-2 {
    position: absolute;
    background-color: black;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    left: 430px;
    top: 256px;
    opacity: 0;
}
.black-screen-ver {
    width: 192px;
    height: 340px;
    background-color: black;
    position: absolute;
    top: 115px;
    left: 124px;
    border-radius: 5px;
    opacity: 0;
    transition: 0.5s;
}
.black-screen-hor {
    width: 337px;
    height: 192px;
    background-color: black;
    position: absolute;
    top: 186px;
    left: 483px;
    border-radius: 5px;
    opacity: 0;
    transition: 0.5s;
}
@media screen and (min-width: 768px) and (max-width: 1019px) {
    .slider {
        height: 58vw;
    }
    .slider-buttoms {
        height: 58vw;
    }
    .slider_item img {
        width: 100%;
    }
    .slider__photos .slider_item:first-child img:first-child {
        /* width: 168.38px;
        height: 344.26px; */
        width: 23.5vw;
    }
    .slider__phone-vertical {
        margin-top: 0;
        margin-left: 11vw;
    }
    .slider__photos .slider_item:first-child img:nth-child(2) {
        /* width: 344.26px;
        height: 162.36px; */
        width: 47.5vw;
    }
    .slider__phone-horizontal {
        margin-left: 41.5vw;
        margin-top: 0;
    }
    .phone-button-1 {
        width: 4.5vw;
        height: 4.5vw;
        left: 19.3vw;
        top: 45vw;
    }
    .phone-button-2 {
        width: 4.5vw;
        height: 4.5vw;
        left: 42.2vw;
        top: 26vw;
    }
    .black-screen-ver {
        width: 19vw;
        height: 33vw;
        top: 11.5vw;
        left: 12vw;
    }
    .black-screen-hor {
        width: 33.2vw;
        height: 18.8vw;
        top: 18.4vw;
        left: 47.3vw;
    }
}
@media screen and (min-width: 375px) and (max-width: 767px) {
    .slider {
        height: 57.4vw;
    }
    .slider-buttoms {
        height: 57.4vw;
    }
    .s-left {
        width: 5%;
        margin-left: -31px;
        margin-top: 8px;
    }
    .s-right {
        width: 5%;
        margin-right: -31px;
        margin-top: 8px;
    }
    .slider_item img {
        width: 100%;
    }
    .slider__photos .slider_item:first-child img:first-child {
        /* width: 168.38px;
        height: 344.26px; */
        width: 23.5vw;
    }
    .slider__phone-vertical {
        margin-top: 0.1vh;
        margin-left: 11vw;
    }
    .slider__photos .slider_item:first-child img:nth-child(2) {
        /* width: 344.26px;
        height: 162.36px; */
        width: 47.5vw;
    }
    .slider__phone-horizontal {
        margin-left: 41.5vw;
        margin-top: 0.3vw;
    }
    .phone-button-1 {
        width: 4.5vw;
        height: 4.5vw;
        left: 19.3vw;
        top: 45vw;
    }
    .phone-button-2 {
        width: 4.5vw;
        height: 4.5vw;
        left: 42.2vw;
        top: 26vw;
    }
    .black-screen-ver {
        width: 19vw;
        height: 33vw;
        top: 11.5vw;
        left: 12vw;
    }
    .black-screen-hor {
        width: 33.2vw;
        height: 18.8vw;
        top: 18.4vw;
        left: 47.3vw;
    }
}
@media screen and (max-width: 374px) {
    .slider {
        height: 57.4vw;
    }
    .slider-buttoms {
        height: 57.4vw;
    }
    .s-left {
        width: 5%;
        margin-left: -31px;
        margin-top: 8px;
    }
    .s-right {
        width: 5%;
        margin-right: -31px;
        margin-top: 8px;
    }
    .slider_item img {
        width: 100%;
    }
    .slider__photos .slider_item:first-child img:first-child {
        /* width: 168.38px;
        height: 344.26px; */
        width: 23.5vw;
    }
    .slider__phone-vertical {
        margin-top: 0.1vh;
        margin-left: 11vw;
    }
    .slider__photos .slider_item:first-child img:nth-child(2) {
        /* width: 344.26px;
        height: 162.36px; */
        width: 47.5vw;
    }
    .slider__phone-horizontal {
        margin-left: 41.5vw;
        margin-top: 0.3vw;
    }
    .phone-button-1 {
        width: 4.5vw;
        height: 4.5vw;
        left: 19.3vw;
        top: 45vw;
    }
    .phone-button-2 {
        width: 4.5vw;
        height: 4.5vw;
        left: 42.2vw;
        top: 26vw;
    }
    .black-screen-ver {
        width: 19vw;
        height: 33vw;
        top: 11.5vw;
        left: 12vw;
    }
    .black-screen-hor {
        width: 33.2vw;
        height: 18.8vw;
        top: 18.4vw;
        left: 47.3vw;
    }
}
/*---------- Independent section block bem SLIDER ----------*/

/*---------- Independent section block bem LAYOUT-3-COLUMN ----------*/
.layout-3-column {
    display: flex;
    flex-wrap: wrap;
}
.page-section__layout-3-column {
    padding-top: 48px;
    margin: 0 -10px;
}

/*---------- Independent section block bem LAYOUT-ITEM ----------*/
.layout-item {
    display: flex;
    width: calc(33.33333333% - 20px);
    padding: 0 10px;
}

/* mixin layout-item in layout-3-column */
.layout-item__layout-3-column {
    margin-top: -1px;
    margin-bottom: 34px;
}
.layout-item__layout-3-column:nth-child(1n+4) {
    margin-top: -1px;
    margin-bottom: 1px;
}
/* mixin layout-item in layout-3-column */

.layout-item__img {
    margin-right: 21px;
}
.layout-item:nth-child(3n+1) .layout-item__img img {
    margin-left: 1px;
}
.layout-item__title {
    font-size: 18px;
    font-weight: 900;
    margin-bottom: 10px;
    margin-top: -2px;
    margin-left: -1px;
    letter-spacing: -0.1px;
}
.layout-item:nth-child(3n+3) .layout-item__title {
    margin-left: 1px;
}
.layout-item__subtitle {
    font-size: 12px;
    line-height: 1.8;
}
@media screen and (min-width: 768px) and (max-width: 1019px) {
    .layout-item {
        flex-grow: 1;
        width: calc(50% - 60px);
        padding: 0 0;
    }
    .page-section__layout-3-column {
        padding-top: 36px;
        margin: 0 0;
    }
    .layout-item__layout-3-column {
        margin-top: 1px;
        margin-bottom: 49px;
        margin-right: 30px;
    }
    .layout-item:nth-child(2n+2) .layout-item__img img {
        margin-left: 11px;
    }
    .layout-item:nth-child(1n+3) .layout-item__img img {
        margin-top: 3px;
    }
    .layout-item:nth-child(3) .layout-item__img img {
        margin-top: 0;
    }
    .layout-item__subtitle {
        font-size: 12px;
        line-height: 1.9;
    }
    .layout-item__title {
        margin-top: 1px;
        margin-left: -1px;
    }
    .layout-item:nth-child(3) .layout-item__title {
        margin-top: -2px;
        margin-left: -1px;
    }
    .layout-item:last-child .layout-item__title {
        margin-top: 1px;
        margin-left: -1px;
    }
}
@media screen and (min-width: 375px) and (max-width: 767px) {
    .layout-item {
        display: flex;
        flex-grow: 1;
        width: calc(100% - 32px);
        padding: 0 0;
    }
    .page-section__layout-3-column {
        padding-top: 30px;
        margin: 0 0;
    }
    .layout-item__layout-3-column {
        margin-top: 1px;
        margin-bottom: 29px;
    }
    .layout-item__layout-3-column:nth-child(1n+4) {
        margin-top: 1px;
        margin-bottom: 29px;
    }
    .layout-item__layout-3-column:last-child {
        margin-bottom: 0;
    }
}
@media screen and (max-width: 374px) {
    .layout-item {
        display: flex;
        flex-grow: 1;
        width: calc(100% - 32px);
        padding: 0 0;
    }
    .page-section__layout-3-column {
        padding-top: 30px;
        margin: 0 0;
    }
    .layout-item__layout-3-column {
        margin-top: 1px;
        margin-bottom: 29px;
    }
    .layout-item__layout-3-column:nth-child(1n+4) {
        margin-top: 1px;
        margin-bottom: 29px;
    }
    .layout-item__layout-3-column:last-child {
        margin-bottom: 0;
    }
}
/*---------- Independent section block bem LAYOUT-ITEM ----------*/

/*---------- Independent section block bem LAYOUT-3-COLUMN ----------*/

/*---------- Independent section block bem TAG-LIST ----------*/
.tag-list {
    display: flex;
    font-size: 12px;
}
/* mixin tag-list in page section */
.page-section__tag-list {
    margin-top: 11px;
}
/* mixin tag-list in page section */
.tag-list__item {
    margin-right: 10px;
    box-sizing: border-box;
    border: 1px solid #666d89;
    padding: 4px 6.2px;
    border-radius: 5px;
}
/* tag-list intaractive element */
.tag-list__item:hover {
    cursor: pointer;
    background-color: rgb(240, 232, 0);
}
.tag-list-item_active {
    color: white;
    border-color: white;
}
/* tag-list intaractive element */
@media screen and (min-width: 768px) and (max-width: 1019px) {
    .tag-list__item:hover {
        cursor: pointer;
    }
}
@media screen and (min-width: 375px) and (max-width: 767px) {
    .tag-list__item:hover {
        cursor: pointer;
    }
    .page-section__tag-list {
        margin-top: 16px;
    }
}
@media screen and (max-width: 374px) {
    .tag-list__item:hover {
        cursor: pointer;
    }
    .page-section__tag-list {
        margin-top: 16px;
    }
}
/*---------- Independent section block bem TAG-LIST ----------*/

/*---------- Independent section block bem GALLERY ----------*/
.gallery {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 187px 187px 187px;
	grid-auto-rows: 0px;
    overflow: hidden;
    margin: -5px;
    padding: 5px;
}
.gallery > div {
    overflow: hidden;
}
/* mixin gallery in page-section */
.page-section__gallery {
	margin-top: 15px;
}
/* mixin gallery in page-section */
.gallery__item {
    width: 100%;
    margin-top: -1px;
}
.gallery__item:nth-child(1n+13) {
	margin-top: 1px;
}
/*- Modificator gallery__item -*/

/* border */
.gallery__item_border_red {
    border: #F06C64 solid 5px;
    box-sizing: border-box;
}
/* border */

/*- Modificator gallery__item -*/
@media screen and (min-width: 768px) and (max-width: 1019px) {
    .gallery {
        display: grid;
        grid-gap: 16px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 187px 187px 187px 187px;
        grid-auto-rows: 0px;
        overflow: hidden;
        margin: -5px;
        padding: 5px;
    }
    .page-section__gallery {
        margin-top: 25px;
    }
}
@media screen and (min-width: 375px) and (max-width: 767px) {
    .gallery {
        display: grid;
        grid-gap: 14px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 128px 128px 128px 128px;
        grid-auto-rows: 0px;
        overflow: hidden;
        margin: -5px;
        padding: 5px;
    }
    .page-section__gallery {
        margin-top: 20px;
    }
}
@media screen and (max-width: 374px) {
    .gallery {
        display: grid;
        grid-gap: 14px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 128px 128px 128px 128px;
        grid-auto-rows: 0px;
        overflow: hidden;
        margin: -5px;
        padding: 5px;
    }
    .page-section__gallery {
        margin-top: 20px;
    }
}
/*---------- Independent section block bem GALLERY ----------*/

/*---------- Independent section block bem WORKERS ----------*/
.workers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}
.workers img {
    width: 100%;
}
/* mixin workers in page-section */
.page-section__workers {
    margin-top: 45px;
}
/* mixin workers in page-section */
.workers-card__title {
    margin-top: 15px;
    margin-left: -1px;
    font-size: 18px;
    font-weight: 900;
    letter-spacing: -0.1px;
}
.workers-card__text {
    margin-top: 12px;
    font-size: 12px;
    line-height: 1.7;
}
.workers-card:nth-child(2) .workers-card__photo {
    margin-left: -1px;
}

/*----- Independent section block bem SOCIAL-ICON -----*/
.social-icon {
    margin-top: 23px;
}
.social-icon-item {
    margin-right: 4px;
}
.social-icon-item:last-child {
    margin-right: 0px;
}
.social-icon-item:hover {
    fill: rgb(240, 232, 0);
}
/*----- Independent section block bem SOCIAL-ICON -----*/
@media screen and (min-width: 768px) and (max-width: 1019px) {
    .workers {
        grid-gap: 15px;
    }
    .page-section__workers {
        margin-top: 38px;
        margin-left: 2px;
    }
    .workers-card__title {
        margin-top: 10px;
    }
    .workers-card__text {
        margin-top: 3px;
        font-size: 12px;
        line-height: 1.9;
    }
    .social-icon {
        margin-top: 10px;
    }
}
@media screen and (min-width: 375px) and (max-width: 767px) {
    .workers {
        grid-template-columns: 1fr;
    }
    .page-section__workers {
        margin-top: 23px;
    }
    .workers-card {
        padding-bottom: 12px;
    }
    .workers-card__title {
        margin-top: 15px;
        margin-left: 0;
    }
    .workers-card__text {
        margin-top: 3px;
        font-size: 12px;
        line-height: 1.8;
    }
    .social-icon {
        margin-top: 12px;
    }
    .workers-card:nth-child(2) .workers-card__photo {
        margin-left: 0;
    }
}
@media screen and (max-width: 374px) {
    .workers {
        grid-template-columns: 1fr;
    }
    .page-section__workers {
        margin-top: 23px;
    }
    .workers-card {
        padding-bottom: 12px;
    }
    .workers-card__title {
        margin-top: 15px;
        margin-left: 0;
    }
    .workers-card__text {
        margin-top: 3px;
        font-size: 12px;
        line-height: 1.8;
    }
    .social-icon {
        margin-top: 12px;
    }
    .workers-card:nth-child(2) .workers-card__photo {
        margin-left: 0;
    }
}
/*---------- Independent section block bem WORKERS ----------*/

/*---------- Independent section block bem FEEDBACK ----------*/
.feedback {
    display: flex;
    padding-top: 44px;
}

/*----- Independent section block bem FORM-QUESTION -----*/
.form-question {
    display: flex;
    flex-wrap: wrap;
    width: 66%;
}
.form-question__input {
    width: 100%;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    padding: 13px 15px;
    background-color: #d6564f;
    color: #f48c8f;
    resize: none;
}
.form-question__input:nth-child(4) {
    height: 202px;
    box-sizing: border-box;
    color: #f48c8f;
    font-size: 12px;
    padding: 11px 14px;
}
/*----- Independent section block bem FORM-QUESTION -----*/

/*----- Independent section block bem CONTACT-INFO -----*/
.contact-info {
    width: 34%;
    padding-left: 20px;
    box-sizing: border-box;
}
.contact-info__title {
    font-size: 18px;
    font-weight: 900;
    letter-spacing: -0.1px;
}
.contact-info__text {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.8;
    padding-top: 11px;
    margin-left: -1px;
}
/*----- Independent section block bem CONTACT-INFO -----*/

/*----- Independent section block bem CONTACT -----*/
.contact {
    padding-top: 28px;
    display: flex;
    flex-direction: column;
}
.contact__item {
    color: #f0d8d9;
    text-decoration: none;
    font-size: 12px;

}
.contact-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 9px;
}
.contact-wrapper:last-child {
    margin-top: 1px;
}
.contact__item {
    align-self: center;
}
.img-wrapper {
    flex-basis: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 9px;
    margin-top: -1px;
}
.contact-wrapper:last-child .img-wrapper img {
    margin-top: 2px;
}
@media screen and (min-width: 768px) and (max-width: 1019px) {
    .feedback {
        padding-top: 25px;
    }
    .form-question {
        width: 62%;
    }
    .form-question__input {
        margin-bottom: 11px;
        margin-left: -3px;
    }
    .contact-info {
        width: 34%;
        padding-left: 30px;
        box-sizing: border-box;
    }
    .contact-info__text {
        padding-top: 3px;
        line-height: 1.9;
    }
    .contact {
        padding-top: 15px;
    }
    .page-section_mb_xs {
        padding-right: 20px;
    }
    .form-question__input:nth-child(4) {
        height: 160px;
        margin-bottom: 16px;

    }
}
@media screen and (min-width: 375px) and (max-width: 767px) {
    .feedback {
        flex-wrap: wrap;
        padding-top: 23px;
    }
    .form-question__input {
        margin-bottom: 11px;
    }
    .form-question__input:nth-child(4) {
        height: 160px;
        margin-bottom: 13px;
    }
    .form-question {
        width: 100%;
    }
    .contact-info {
        width: 100%;
        padding-left: 0;
        padding-top: 33px;
    }
    .contact-info__text {
        padding-top: 3px;
        line-height: 1.9;
    }
    .contact {
        padding-top: 17px;
    }
    .contact-wrapper {
        margin-bottom: 13px;
    }
    .contact-wrapper:last-child {
        margin-top: -1px;
    }
}
@media screen and (max-width: 374px) {
    .feedback {
        flex-wrap: wrap;
        padding-top: 23px;
    }
    .form-question__input {
        margin-bottom: 11px;
    }
    .form-question__input:nth-child(4) {
        height: 160px;
        margin-bottom: 13px;
    }
    .form-question {
        width: 100%;
    }
    .contact-info {
        width: 100%;
        padding-left: 0;
        padding-top: 33px;
    }
    .contact-info__text {
        padding-top: 3px;
        line-height: 1.9;
    }
    .contact {
        padding-top: 17px;
    }
    .contact-wrapper {
        margin-bottom: 13px;
    }
    .contact-wrapper:last-child {
        margin-top: -1px;
    }
}
/*----- Independent section block bem CONTACT -----*/

/*----- Independent section block bem BUTTON -----*/
.button {
    background-color: #fbc65f;
    color: #886a30;
    border: none;
    border-radius: 5px;
    /* width: 100%; */
    padding: 11px 47px;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1.9px;
}
@media screen and (min-width: 768px) and (max-width: 1019px) {
    .button {
        margin-left: -3px;
    }
}
@media screen and (min-width: 375px) and (max-width: 767px) {
    .button {
        width: 100%;
        padding: 16px 0;
    }
}
@media screen and (max-width: 374px) {
    .button {
        width: 100%;
        padding: 16px 0;
    }
}
/*----- Independent section block bem BUTTON -----*/

/*- Validation input style -*/
::placeholder {
    color: #f48c8f;
    font-size: 12px;
}
textarea,
input {
    outline: none;
}
:required {
    box-shadow: inset 0 0 5px 0 rgba(255, 0, 0, 1);
}
:required:focus {
    box-shadow: none;
}
input:valid:not([name=subject]) {
    box-shadow: inset 0 0 5px 0 rgb(0, 162, 24);
}
/*- Validation input style -*/

/*---------- Independent section block bem FEEDBACK ----------*/
.footer-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 76px;
    background-color: #2d303a;
    padding: 0 40px;
}
.footer-main__copyright {
    margin-left: 2px;
}
/* mixin social-icon in footer-main */
.footer-main__social-icon {
    margin-top: 23px;
}
.footer-main__social-icon {
    padding-bottom: 20px;
}
/* mixin social-icon in footer-main */
@media screen and (min-width: 768px) and (max-width: 1019px) {
    
}
@media screen and (min-width: 375px) and (max-width: 767px) {
    .footer-main__copyright {
        display: none;
    }
    .footer-main {
        justify-content: center;
    }
}
@media screen and (max-width: 374px) {
    .footer-main__copyright {
        display: none;
    }
    .footer-main {
        justify-content: center;
    }
}
/*---------- Independent section block bem FEEDBACK ----------*/

/*---------- Independent section block bem SEPARATOR ----------*/

/*- Modificator separator -*/

/* size separator */
.separator_size_5 {
    height: 5px;
}
.separator_size_6 {
    height: 6px;
}
/* size separator */

/* color separator */
.separator_color_gray {
    background-color: #323746;
}
.separator_color_pink {
    background-color: #ea676b;
}
.separator_color_white {
    background-color: white;
}
/* color separator */

/*- Modificator separator -*/

/*---------- Independent section block bem SEPARATOR ----------*/

/*---------- Independent section block bem WINDOW-TEXT ----------*/
.window-text {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100vw;
    height: 100vw;
    box-sizing: border-box;
    box-shadow: 0 14px 28px rgba(45,48,58,0.44), 0 10px 10px rgba(45,48,58,0.22);
    border-radius:0 20px 0 20px ;
    padding: 40px;
    background-color: #fff;
    position: fixed;
    left: 0;
    top: 0;
    margin-top: 40px;
}
.window-text__item {
    margin-bottom: 20px;
}
.visibility {
    display: none;
}


/*---------- Independent section block bem WINDOW-TEXT ----------*/

.opacity_true {
    opacity: 1;
}
.over {
    height: 550vh;
    background-color: #323746;
    opacity: 0.8;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
}
.index-1 {
    z-index: 10;
}
.index-0 {
    z-index: -1;
}
/*-------------------- Responsive --------------------*/
/*-------------------- Responsive --------------------*/