@font-face {
	font-family: 'Lato';
	src: url('assets/fonts/Lato-Black.eot');
	src: local('☺'), url('assets/fonts/Lato-Black.woff') format('woff'), url('assets/fonts/Lato-Black.ttf') format('truetype'), url('assets/fonts/Lato-Black.svg') format('svg');
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: 'Lato';
	src: url('assets/fonts/Lato-Bold.eot');
	src: local('☺'), url('assets/fonts/Lato-Bold.woff') format('woff'), url('assets/fonts/Lato-Bold.ttf') format('truetype'), url('assets/fonts/Lato-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Lato';
	src: url('assets/fonts/Lato-Light.eot');
	src: local('☺'), url('assets/fonts/Lato-Light.woff') format('woff'), url('assets/fonts/Lato-Light.ttf') format('truetype'), url('assets/fonts/Lato-Light.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Lato';
	src: url('assets/fonts/Lato-Regular.eot');
	src: local('☺'), url('assets/fonts/Lato-Regular.woff') format('woff'), url('assets/fonts/Lato-Regular.ttf') format('truetype'), url('assets/fonts/Lato-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

/* reset-css */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} 
/* reset-css */
.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }
body {
    font-family: 'Lato', sans-serif;
}
.wrapper {
    width: 1020px;
}
.header {
    height: 90px;
    background-color: #2d303a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}
.logo {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 25px;
    font-weight: 700;
    color: white;
}
.header__logo {
    margin-top: -1px;
}
.logo__decoration {
    color: #f06c64;
}
.navigation {
    display: flex;
    padding-top: 5px;
}
.navigation__link {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    color: white;
}
.navigation__link:hover {
    color: #81cfd9;
    border-bottom: 1px solid #dee02d;
    margin-bottom: -1px;
}
.navigation__link_active {
    color: #f06c64;
}
.navigation__separator {
    margin: 0 12px;
    color: #494e62;
}
.slider {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 594px;
    padding: 0 40px;
    padding-bottom: 5px;
    box-sizing: border-box;
    background-color: #f06c64;
}
.slider__left {
    margin-left: 2px;
}
.slider__left:hover {
    cursor: pointer;
}
.slider__right:hover {
    cursor: pointer;
}
.slider__phone-vertical {
    position: absolute;
    top: 53px;
    left: 112px;
}
.slider__phone-horizontal {
    position: absolute;
    left: 425px;
    top: 174px;
}
.page-section {
    background-color: #f2f2f2;
    padding: 62px 40px;
}
.page-section_color_grey {
    color: #666d89;
}
.title-section {
    font-size: 30px;
    font-weight: 900;
}
.text-section {
    font-size: 18px;
    font-weight: 200;
    line-height: 1.7;
    word-spacing: 1.1px;
}
.page-section__text-section {
    margin-top: 20px;
}
.layout-3-column {
    display: flex;
    flex-wrap: wrap;
}
.page-section__layout-3-column {
    padding-top: 48px;
    margin: 0 -10px;
}
.layout-item {
    display: flex;
    width: calc(33.33333333% - 20px);
    padding: 0 10px;
}
.layout-item__layout-3-column {
    margin-bottom: 34px;
}
.layout-item__img {
    margin-right: 21px;
}
.layout-item:nth-child(3n+1) .layout-item__img img {
    margin-left: 1px;
}
.layout-item__title {
    font-size: 18px;
    font-weight: 900;
    margin-bottom: 10px;
    margin-top: -2px;
    margin-left: -1px;
}
.layout-item:nth-child(3n+3) .layout-item__title {
    margin-left: 2px;
}
.layout-item__subtitle {
    font-size: 12px;
    line-height: 1.8;
}
.page-section_bg_grey {
    background-color: #2e303c;
}
.tag-list {
    display: flex;
    font-size: 12px;
}
.page-section__tag-list {
    margin-top: 12px;
}
.tag-list__item {
    margin-right: 10px;
    box-sizing: border-box;
    border: 1px solid #666d89;
    padding: 4px 6.2px;
    border-radius: 5px;
}
.tag-list__item:hover {
    cursor: pointer;
    background-color: rgb(240, 232, 0);
}
.tag-list-item_active {
    color: white;
    border-color: white;
}
.gallery {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 187px 187px 187px;
	grid-auto-rows: 0px;
	overflow: hidden;
}
.page-section__gallery {
	margin-top: 20px;
}
.gallery_item {
    margin-top: -1px;
}
.gallery_item:nth-child(1n+13) {
	margin-top: 1px;
}
/* .separator {
    height: 6px;
} */
.separator_gray {
    background-color: #323746;
}
.workers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}
.page-section__workers {
    margin-top: 46px;
}
.workers-card__title {
    margin-top: 15px;
    margin-left: -1px;
    font-size: 18px;
    font-weight: 900;
}
.workers-card__text {
    margin-top: 12px;
    font-size: 12px;
    line-height: 1.7;
}
.social-icon {
    margin-top: 23px;
}
.social-icon-item {
    margin-right: 4px;
}
.social-icon-item:hover {
    fill: rgb(240, 232, 0);
}
.workers-card:nth-child(2) .workers-card__photo {
    margin-left: -1px;
}
.separator {
    height: 5px;
}
.separator_size_5 {
    height: 5px;
}
.separator_size_6 {
    height: 6px;
}
.separator_color_gray {
    background-color: #323746;
}
.separator_color_pink {
    background-color: #ea676b;
}
.separator_color_white {
    background-color: white;
}
.separator_white {
    background-color: white;
}

/* zzzzzzzzzzzzz */

.m {
    padding-bottom: 67px;
}

/* zzzzzzzzzzzzz */